<div class="row">
  <div class="col-md-6">
    <div style="display: block;">
    <canvas baseChart width="400" height="400"
                [datasets]="programmplanung"
                [labels]="programmplanungLabels"
                [options]="programmplanungOptions"
                [colors]="chartColors"
                [legend]="true"
                [chartType]="programmplanungChartType"></canvas>
    </div>
  </div>
  <div class="col-md-6">
      <div style="display: block">
          <canvas baseChart
                  [data]="pieChartData"
                  [labels]="pieChartLabels"
                  [chartType]="pieChartType"></canvas>
        </div>
  </div>
</div>
<div class="row">
  <div class="col-md-12" *ngFor="let item of produktionsplanung">
    <h4>{{item.fahrradName}}</h4>
      <canvas baseChart width="800" height="400"
                  [datasets]="item.data"
                  [labels]="produktionsplanungLabels"
                  [options]="produktionsplanungOptions"
                  [colors]="chartColors"
                  [legend]="true"
                  [chartType]="produktionsplanungChartType"></canvas>
  </div>
</div>

<!-- Pie Chart mit Aufteilung Fahrrad am Gesamtoutput, linear mit allen Fahrrädern und Output pro Monat -->