
<table class="table table-sm">  
    <thead>
        <tr>
            <th></th>
            <th>Monat: {{programmplanungInput.date.getMonth()}}</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Planung:</td>
            <td>
                <input type="number" 
                [(ngModel)]="programmplanungInput.planning"
                >
            </td>
        </tr>
        <tr>
            <td>Bedarf:</td>
            <td>
                <input type="number" 
                [(ngModel)]="programmplanungInput.demand"
                >
            </td>
        </tr>
        <tr>
            <td>Differenz:</td>
            <td>{{programmplanungInput.planning - programmplanungInput.demand}}</td>
        </tr>
    </tbody>
</table>




