<header>
  <ul class="nav nav-pills">
    <li role="presentation" routerLinkActive="active"><a [routerLink]="['/programmplanung']">Programmplanung</a></li>
    <li role="presentation" routerLinkActive="active"><a [routerLink]="['/stueckliste']">Stückliste</a></li>
    <li role="presentation" routerLinkActive="active"><a [routerLink]="['/produktionsplanung']">Produktionsplanung</a></li>
    <li role="presentation" routerLinkActive="active"><a [routerLink]="['/parameter']">Parameter</a></li>
    <li role="presentation" routerLinkActive="active"><a [routerLink]="['/sc-inbound']" (click)="berechneScInboundService()">Supply Chain Inbound</a></li>
    <li role="presentation" routerLinkActive="active"><a [routerLink]="['/reporting']">Reporting</a></li>
    <li role="presentation" routerLinkActive="active"><a [routerLink]="['/testtab']">Test Tab</a></li>
  </ul>
</header>
<hr>