<h4>Sattel</h4>
Produktionstag: {{datumAsString(produktionsplanungSattel[0].datum)}}
<hr>

Start der Produktion im Werk: {{ datumAsString(berechneStartImWerk(produktionsplanungSattel[0].datum))}}
<br>
Fertigstellung im Werk:
<br>
Verzögerung : <input type="number" [(ngModel)]="werkVerzoegerung">
<br>
{{ werkVerzoegerung }}
<hr>
1. Transportweg Start:
<br>
2. Transportweg Ende:
<br>
Verzögerung : <input type="number" [(ngModel)]="transport1Verzoegerung">
<br>

<hr>
<hr>
<hr>

Eingang OEM: {{datumAsString(dateTest)}}
<br>
Ankunft OEM: {{datumAsString(berechneAnkunftBeiOem(dateTest))}}
<br>
Start LKW: {{datumAsString(berechneStartLkwFahrt(berechneAnkunftBeiOem(dateTest)))}}
<br>
Start Schiff: {{datumAsString(berechneStartSchiffFahrt(berechneStartLkwFahrt(berechneAnkunftBeiOem(dateTest))))}}
<br>
Start LKW: {{datumAsString(berechneStartLkwFahrt(berechneStartSchiffFahrt(berechneStartLkwFahrt(berechneAnkunftBeiOem(dateTest)))))}}
<br>
Start Produktion: {{datumAsString(berechneStartImWerk(berechneStartLkwFahrt(berechneStartSchiffFahrt(berechneStartLkwFahrt(berechneAnkunftBeiOem(dateTest))))))}}
