<h2>Supply Chain Inbound</h2>
<table class="table table-striped">
    <thead>
        <tr>
            <th>Produktionsstart OEM:</th>
            <th *ngFor="let e of scInboundSattel"> {{datumAsString(e.produktionsstartOem)}} </th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Produktionsstart Hersteller:</td>
            <td *ngFor="let e of scInboundSattel"> {{datumAsString(e.produktionsstartHersteller)}} </td>            
        </tr>
        <tr>
                <td>Start LKW zum Hafen:</td>
                <td *ngFor="let e of scInboundSattel"> {{datumAsString(e.startLkw1)}} </td>            
        </tr>
        <tr>
            <td>Start Schiff nach Deutschland:</td>
            <td *ngFor="let e of scInboundSattel"> {{datumAsString(e.startSchiff)}} </td>            
        </tr>
        <tr>
            <td>Start LKW zum OEM:</td>
            <td *ngFor="let e of scInboundSattel"> {{datumAsString(e.startLkw2)}} </td>            
        </tr>
        <tr>
            <td>Ankunft beim OEM:</td>
            <td *ngFor="let e of scInboundSattel"> {{datumAsString(e.ankunftOEM)}} </td>            
        </tr>
    </tbody>
</table>


<!-- <h4>Sattel</h4>
Dauer LKW 2: 
<input type="number" [(ngModel)]="lieferdaten.sattel.lieferdaten.supplychain[2].anzahl">
<br>
Dauer Schiff: 
<input type="number" [(ngModel)]="lieferdaten.sattel.lieferdaten.supplychain[1].anzahl">
<br>
Dauer LKW 1: 
<input type="number" [(ngModel)]="lieferdaten.sattel.lieferdaten.supplychain[0].anzahl">
<br>
<h4>Gabel</h4>
Dauer Zug: 
<input type="number" [(ngModel)]="lieferdaten.gabel.lieferdaten.supplychain[0].anzahl">
<h4>Rahmen</h4>
Dauer LKW: 
<input type="number" [(ngModel)]="lieferdaten.rahmen.lieferdaten.supplychain[0].anzahl"> -->
