<p></p>
<h3>{{fahrrad.modell}}</h3>
<table class="table table-striped table-sm">
  <tr>
    <td></td>
    <td>Week {{fahrrad.porgammplanungInputArray[0].week}}</td>
    <td>Week {{fahrrad.porgammplanungInputArray[1].week}}</td>
    <td>Week {{fahrrad.porgammplanungInputArray[2].week}}</td>
 </tr>
  <tr>
    <td>Planning:</td>
    <td>{{fahrrad.porgammplanungInputArray[0].planning}}</td>
    <td>{{fahrrad.porgammplanungInputArray[1].planning}}</td>
    <td>{{fahrrad.porgammplanungInputArray[2].planning}}</td>
  </tr>
  <tr>
    <td>Demand:</td>
    <td>{{fahrrad.porgammplanungInputArray[0].demand}}</td>
    <td>{{fahrrad.porgammplanungInputArray[1].demand}}</td>
    <td>{{fahrrad.porgammplanungInputArray[2].demand}}</td>
  </tr>
  <tr>
    <td>Changes:</td>
    <td>{{fahrrad.porgammplanungInputArray[0].planning - fahrrad.porgammplanungInputArray[0].demand}}</td>
    <td>{{fahrrad.porgammplanungInputArray[1].planning - fahrrad.porgammplanungInputArray[1].demand}}</td>
    <td>{{fahrrad.porgammplanungInputArray[2].planning - fahrrad.porgammplanungInputArray[2].demand}}</td>
  </tr>
  
</table>
<hr>
<hr>

