<h3>Input</h3>

<table class="table table-striped table-hover">
    <thead>
        <tr>
            <th></th>
            <th *ngFor="let i of fahrrad.progammplanungInputArray">Month: {{i.month}}</th>
        </tr>
    </thead>
    <tbody>
            <tr>
              <td>Planning:</td>
              <td *ngFor="let programmplanung of fahrrad.progammplanungInputArray">
                  <input type="number" 
                  id="modell" 
                  class="form control"
                  [(ngModel)]="programmplanung.planning"
              >
              </td>
            </tr>
            <tr>
              <td>Demand:</td>
              <td *ngFor="let programmplanung of fahrrad.progammplanungInputArray">
                  <input type="number" 
                  id="modell" 
                  class="form control"
                  [(ngModel)]="programmplanung.demand"
              >
              </td>
            </tr>
            <tr>
              <td>Changes:</td>
              <td *ngFor="let programmplanung of fahrrad.progammplanungInputArray">{{programmplanung.planning - programmplanung.demand}}</td>
            </tr>        
    </tbody>
</table>

