<h2>Parameter</h2>
<div class="row">
    <div class="col-sm-6">
        <h3>Produktionskapazitäten</h3>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Typ</th>
                    <th>Anzahl</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Volumen pro Jahr</td>
                    <td>
                        <input type="number" class="form control" [(ngModel)]="produktionskapazitaetenService.VolumenProJahr">
                    </td>
                </tr>
                <tr>
                    <td> Volumen pro Stunde</td>
                    <td>
                        <input type="number" class="form control" [(ngModel)]="produktionskapazitaetenService.VolumenProStunde">
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="col-sm-6">
        <h3>Losgrößen</h3>
        <table class="table table-striped">
            <thead>
                <th>Modell</th>
                <th>Anzahl</th>
            </thead>
            <tbody>
                <tr>
                    <td>Gabel</td>
                    <td>
                        <input type="number" class="form control" [(ngModel)]="lieferdatenGabel.losgroesseHersteller">
                    </td>
                </tr>
                <tr>
                    <td>Sattel</td>
                    <td>
                        <input type="number" class="form control" [(ngModel)]="lieferdatenSattel.losgroesseHersteller">
                    </td>
                </tr>
                <tr>
                    <td>Rahmen</td>
                    <td>
                        <input type="number" class="form control" [(ngModel)]="lieferdatenRahmen.losgroesseHersteller">
                    </td>
                </tr>

            </tbody>
        </table>
    </div>
    <div class="col-sm-6">
        <h3>Vorlaufzeit</h3>
        <table class="table table-striped">
            <thead>
                <th>Modell</th>
                <th>Anzahl</th>
                <th>Typ</th>
            </thead>
            <tbody>
                <tr>
                    <td>Gabel</td>
                    <td>
                        <input type="number" class="form control" [(ngModel)]="lieferdatenGabel.vorlaufzeit.anzahl">
                    </td>
                    <td>{{lieferdatenGabel.vorlaufzeit.tag == 0 ? "Arbeitstag" : "Kalendertag"}}</td>
                </tr>
                <tr>
                    <td>Sattel</td>
                    <td>
                        <input type="number" class="form control" [(ngModel)]="lieferdatenSattel.vorlaufzeit.anzahl">
                    </td>
                    <td>{{lieferdatenSattel.vorlaufzeit.tag == 0 ? "Arbeitstag" : "Kalendertag"}}</td>
                </tr>
                <tr>
                    <td>Rahmen</td>
                    <td>
                        <input type="number" class="form control" [(ngModel)]="lieferdatenRahmen.vorlaufzeit.anzahl">
                    </td>
                    <td>{{lieferdatenRahmen.vorlaufzeit.tag == 0 ? "Arbeitstag" : "Kalendertag"}}</td>
                </tr>

            </tbody>
        </table>
    </div>
    <div class="col-sm-6">
        <h3>Bestelleingang bis Produktion</h3>
        <table class="table table-striped">
            <thead>
                <th>Modell</th>
                <th>Anzahl</th>
                <th>Typ</th>
            </thead>
            <tbody>
                <tr>
                    <td>Gabel</td>
                    <td>
                        <input type="number" class="form control" [(ngModel)]="lieferdatenGabel.bestelleingangBisProduktion.anzahl">
                    </td>
                    <td>{{lieferdatenGabel.bestelleingangBisProduktion.tag == 0 ? "Arbeitstag" : "Kalendertag"}}</td>
                </tr>
                <tr>
                    <td>Sattel</td>
                    <td>
                        <input type="number" class="form control" [(ngModel)]="lieferdatenSattel.bestelleingangBisProduktion.anzahl">
                    </td>
                    <td>{{lieferdatenSattel.bestelleingangBisProduktion.tag == 0 ? "Arbeitstag" : "Kalendertag"}}</td>
                </tr>
                <tr>
                    <td>Rahmen</td>
                    <td>
                        <input type="number" class="form control" [(ngModel)]="lieferdatenRahmen.bestelleingangBisProduktion.anzahl">
                    </td>
                    <td>{{lieferdatenRahmen.bestelleingangBisProduktion.tag == 0 ? "Arbeitstag" : "Kalendertag"}}</td>
                </tr>

            </tbody>
        </table>
    </div>
    <div class="col-sm-12">
        <h3>Supplychain</h3>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th></th>
                    <th>Step 1</th>
                    <th></th>
                    <th>Step 2</th>
                    <th></th>
                    <th>Step 3</th>
                    <th></th>
                </tr>
                <tr>
                    <th>Modell</th>
                    <th>Anzahl</th>
                    <th>Typ</th>
                    <th>Anzahl</th>
                    <th>Typ</th>
                    <th>Anzahl</th>
                    <th>Typ</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Gabel</td>
                    <td>
                        <input type="number" class="form control" [(ngModel)]="lieferdatenGabel.supplychain[0].anzahl">
                    </td>
                    <td>{{lieferdatenGabel.supplychain[0].tag == 0 ? "Arbeitstag" : "Kalendertag"}}</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>Sattel</td>
                    <td>
                        <input type="number" class="form control" [(ngModel)]="lieferdatenSattel.supplychain[0].anzahl">
                    </td>
                    <td>{{lieferdatenSattel.supplychain[0].tag == 0 ? "Arbeitstag" : "Kalendertag"}}</td>

                    <td>
                        <input type="number" class="form control" [(ngModel)]="lieferdatenSattel.supplychain[1].anzahl">
                    </td>
                    <td>{{lieferdatenSattel.supplychain[1].tag == 0 ? "Arbeitstag" : "Kalendertag"}}</td>

                    <td>
                        <input type="number" class="form control" [(ngModel)]="lieferdatenSattel.supplychain[2].anzahl">
                    </td>
                    <td>{{lieferdatenSattel.supplychain[2].tag == 0 ? "Arbeitstag" : "Kalendertag"}}</td>
                </tr>
                <tr>
                    <td>Rahmen</td>
                    <td>
                        <input type="number" class="form control" [(ngModel)]="lieferdatenRahmen.supplychain[0].anzahl">
                    </td>
                    <td>{{lieferdatenRahmen.supplychain[0].tag == 0 ? "Arbeitstag" : "Kalendertag"}}</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
