<h1>Programmplanung</h1>

<table class="table table-striped table-hover">
    <thead>
        <tr>
            <th colspan="2"></th>
            <th *ngFor="let item of fahrraeder[0].programmplanung.werte">KW {{ item.calendarWeek + "/" + item.calendarYear }}</th>
        </tr>
    </thead>
    <tbody *ngFor="let fahrrad of fahrraeder">
        <tr>
            <td rowspan="3">{{ fahrrad.modell }}</td>
            <td>Planung</td>
            <td *ngFor="let item of fahrrad.programmplanung.werte">
                <input type="number"
                class="form control"
                [(ngModel)]="item.planning"
                >
            </td>
        </tr>
        <tr>

            <td>Nachfrage</td>
            <td *ngFor="let item of fahrrad.programmplanung.werte">
                <input type="number"
                class="form control"
                [(ngModel)]="item.demand"
                >
            </td>
        </tr>
        <tr>

            <td>Differenz</td>
            <td *ngFor="let item of fahrrad.programmplanung.werte"
                [ngClass]="{'down': item.planning - item.demand < 0}"
                >
                    {{item.planning - item.demand}}
            </td>
        </tr>
    </tbody>
</table>