
<h2>Test ngModelChange</h2>
Value 1 = <input type="number" [(ngModel)]="value1" (ngModelChange)="aendereLosgroesse()">
<br>
Value 2 = <input type="number" [(ngModel)]="value2" (ngModelChange)="aendereLosgroesse()">
<br>
Value 3: {{value3}}
<hr>
<h2>Lieferdaten Test</h2>
{{fahrrad.sattel.lieferdaten.losgroesse}}
<br>
{{lieferdatenSattel.losgroesse}}
<br>
Veränderung Fahrrad: <input type="number" [(ngModel)]="fahrrad.sattel.lieferdaten.losgroesse">
<br>
Veränderung Lieferdaten: <input type="number" [(ngModel)]="lieferdatenSattel.losgroesse">

