/* You can add global styles to this file, and also import other style files */

body {
    padding: 40px;
}

/* table {
    border: solid;
}

td {
    border: 1px solid black;
}

tr {
    border: 1px solid black;
} */

.wrapper {
    width: 100%;
    overflow-x: scroll;
}

table>thead>tr>th {
    padding: 8px;
}
table>tbody>tr>td {
    vertical-align: middle !important;
}

td.down {
    background-color: red;
}

th.down {
    background-color: red;
}

td.green {
    background-color: green;
}
td.red {
    background-color: green;
}

tr.highlighted {
    background-color: rgb(82, 82, 82);
    /* font-weight: bold; */
    color: white;
}
